var webpack = require('webpack');
var path = require('path');

module.exports = {
    entry: {
        reactApp: './reactApp/index.jsx'
    },
    output: {
        path: path.join(__dirname, "html/scripts"),
        filename: '[name].js'
    },

    resolve: {
        modulesDirectories: ['reactApp', 'node_modules', 'modules', 'reactApp/actions'],
        extensions: ['', '.js', '.jsx']
    },
    plugins: [new webpack.optimize.DedupePlugin()],    
    module: {
        loaders: [
            {
                test: /\.jsx?$/,
                loader: 'babel',
                exclude: path.resolve(__dirname, "node_modules"),
                query: {
                    presets: ['es2015', 'react'],
                }                
            }
        ]
    }

};


